@model IEnumerable<Technica.Models.Product>

@{
    ViewBag.Title = "Index";
    var c = ViewBag.Categories;
}
<section>
    <div class="container">
        <div class="row space-top">

            <div class="col-sm-8 space-bottom">
                <h2 class="title">Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th style="width: 20%">
                            Image
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OldPrice)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="/img/@Html.DisplayFor(modelItem => item.Image)" />
                            </td>
                            <td>
                                @{
                                    Technica.Models.Category category = c.Find(item.CategoryID);
                                    @category.Name
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldPrice)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>
                <div>
                    @Html.ActionLink("Back to panel", "Admin", "Users")
                </div>
            </div>
        </div>
    </div>
</section>
<h2></h2>
