@model Technica.Models.Product

@{
    ViewBag.Title = "Details";
    Technica.Models.Currency currency = (Session["currency"] as Technica.Models.Currency);
}


<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Products/All">Products</a></li>
    <li>Product</li>
</ol>

<section class="cart-message">
    <i class="fa fa-check-square"></i>
    <p class="p-style3">"Nikon" was successfully added to your cart.</p>
    <a class="btn-outlined-invert btn-success btn-sm" href="/Cart">View cart</a>
</section>

<section class="catalog-single">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="prod-gal master-slider" id="prod-gal">
                    <div class="ms-slide">
                        <img src="masterslider/blank.gif" data-src="/img/@Model.Image" />
                        <img class="ms-thumb" src="/img/@Model.Image" alt="thumb" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <h1>@Html.DisplayFor(x => x.Name)</h1>
                @if (Model.OldPrice != null) {
                <div class="old-price"> @String.Format("{0:0.0}", Model.OldPrice / currency.Ratio).Replace(",", ".") @MvcHtmlString.Create(currency.ShortName)</div>
                }
                <div class="price">@String.Format("{0:0.0}", Model.Price / currency.Ratio).Replace(",", ".") @MvcHtmlString.Create(currency.ShortName)</div>
                <div class="buttons group">
                    <div class="qnt-count">
                        <a class="incr-btn" href="#">-</a>
                        <input id="quantity" class="form-control" type="text" value="1">
                        <a class="incr-btn" href="#">+</a>
                    </div>
                    <a class="btn btn-primary btn-sm" id="addItemToCart" href="#"><i class="icon-shopping-cart"></i>Add to cart</a>
                    <a class="btn btn-success btn-sm" href="#"><i class="icon-heart"></i>Add to wishlist</a>
                </div>
                
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <h3>Tell friends</h3>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-tumblr-square"></i></a>
                            <a href="#"><i class="fa fa-pinterest-square"></i></a>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="promo-labels">
                    <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><span><i class="fa fa-truck"></i>Fast delivery</span></div>
                    <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-space-shuttle"></i>Deliver even on Mars</div>
                    <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-shield"></i>Safe Buy</div>
                </div>
            </div>
        </div>
    </div>
</section>