@{
    ViewBag.Title = "Index";
}

<section class="hero-slider">
    <div class="master-slider" id="hero-slider">

        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="masterslider/blank.gif" data-src="img/nikon1.jpg" alt="Nikon D4S" />
            <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Nikon D4S</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1845$</span>Buy it now</a></div>
        </div>

        <div class="ms-slide" data-delay="7">
            <span class="overlay"></span>
            <img src="masterslider/blank.gif" data-src="img/hero/slideshow/slide_2.jpg" alt="Nest" />
            <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">Nest</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>1640$</span>Buy it now</a></div>
        </div>

        <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="masterslider/blank.gif" data-src="img/hero/slideshow/slide_1.jpg" alt="3D Printer" />
            <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="250" data-ease="easeOutQuad">3D Printer</h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700" data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950" data-ease="easeOutQuad"><a class="btn btn-primary" href="#"><span>2500$</span>Buy it now</a></div>
        </div>

    </div>
</section><!--Hero Slider Close-->
<!--Categories-->
<section class="cat-tiles">
    <div class="container">
        <h2>Browse categories</h2>
        <div class="row">
            @foreach (var category in ViewBag.Categories) {
            <div class="category col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <a href="#">
                    <img src="img/categories/@category.Image" alt="1" />
                    <p>@category.Name</p>
                </a>
            </div>
            }
        </div>
    </div>
</section><!--Categories Close-->
<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2 class="primary-color">Random Products</h2>
        <div class="row">
            @{
                Technica.Models.Currency currency = (Session["currency"] as Technica.Models.Currency);
                foreach (Technica.Models.Product product in ViewBag.RandomProducts)
                {
                    decimal cost = product.Price / currency.Ratio;
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="tile">
                        <div class="price-label">@String.Format("{0:0.0}", cost).Replace(",", ".") @MvcHtmlString.Create(currency.ShortName)</div>
                        @if (product.OldPrice != null)
                        {
                            decimal oldCost = (decimal)product.OldPrice / currency.Ratio;
                            <div class="price-label old-price">@String.Format("{0:0.0}", oldCost).Replace(",", ".") @MvcHtmlString.Create(currency.ShortName)</div>
                        }
                        <a href="#"><img  class="img-responsive" src="img/@product.Image" alt="1" /></a>
                        <div class="footer">
                            <a href="#">@product.Name</a>
                            <div class="tools">
                                <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>

                                <a class="wishlist-btn" href="#" style="right: auto;left: 10px;">
                                    <div class="hover-state" style="left: -7px;">Wishlist</div>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }}
        </div>
    </div>
</section>  

