
@{
    ViewBag.Title = "Index";
    var u = ViewBag.Users;
}
<section>
    <div class="container">
        <div class="row space-top">

            <div class="col-sm-8 space-bottom">
                <h2 class="title">Index</h2>

                <table class="table">
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Products
                        </th>
                        <th></th>
                    </tr>

                    @foreach (Technica.Models.OrderCurrency item in ViewBag.Orders)
                    {
                        <tr>
                            <td>
                                @{
                                    Technica.Models.User user = u.Find(item.order.UserID);
                                    @user.FirstName <b></b> @user.LastName
                                    <br />
                                    @user.Email
                                }
                            </td>
                            <td>
                                @String.Format("{0:0.0}", item.order.Price / item.currency.Ratio).Replace(",", ".")@MvcHtmlString.Create(item.currency.ShortName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order.Date)
                            </td>
                            <td>
                                @{
                                    int t = 1;
                                    List<Technica.Models.Product> products = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Technica.Models.Product>>(item.order.JsonProducts);
                                    foreach (Technica.Models.Product p in products)
                                    {
                                        @t <a href="/Products/View/@p.Name.Replace(' ', '-')">@p.Name</a> <br />
                                        t++;
                                    }   

                                 }
                        </td>

                            <td>
                                @if (item.order.Hidden == true)
                                {
                                    @Html.ActionLink("Show", "Show", new { id = item.order.ID });
                                }
                                else
                                {
                                    @Html.ActionLink("Hide", "Hide", new { id = item.order.ID });
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.order.ID })
                                @Html.ActionLink("Delete", "Delete", new { id = item.order.ID })
                            </td>
                        </tr>
                    }

                </table>
                <p>
                    @if (ViewBag.Hidden == true) {
                        @Html.ActionLink("All Orders", "All")
                    }
                    else
                    {
                        @Html.ActionLink("Only viewable ones", "Index")
                    }
                    |
                    @Html.ActionLink("Back to panel", "Admin", "Users")
                </p>
            </div>
        </div>
    </div>
</section>
